<div class="jumbotron jumbotron-img main-color"> 
	<div class="container-fluid"> 
		<div class = "container-fluid"> 	
			<div class="row">
				<div class="col col-md-10 col-md-offset-1">
					<div class="row">

						<div class="col-xs-4" ng-click="changeView('manager-signup')"
							 ng-class="{'hover': hover1}"
							 ng-mouseleave="hover1 = false"
							 ng-mouseenter="hover1 = true">
							<img src="assets/img/manager-avatar.jpg" width="100%">  
							<a  type="button" role="button" class="btn btn-success  btn-block btn-flat">Manager</a>
						</div>	
						<div class="col-xs-4" ng-click="changeView('player-signup')"
							 ng-class="{'hover': hover2}"
							 ng-mouseleave="hover2 = false"
							 ng-mouseenter="hover2 = true">
							<img src="assets/img/player-avatar.jpg" width="100%">  
							<a  type="button" role="button" class="btn btn-primary  btn-block btn-flat">Player</a>
						</div>	
						<div class="col-xs-4" ng-click="changeView('manager-treasurer')" 
							 ng-class="{'hover': hover3}"
							 ng-mouseleave="hover3 = false"
							 ng-mouseenter="hover3 = true">
							<img src="assets/img/manager-avatar.jpg" width="100%">  
							<a  type="button" role="button" class="btn btn-warning  btn-block btn-flat">Treasurer</a>
						</div>

					</div>

				</div>
			</div>
		</div>	
	</div> 



